@CHARSET "UTF-8";

body {
	font-family: courier new;
	background-color: #DDDDDD;
}

h1 {
	display: block;
	margin: auto;
	font-size: 2.5em;
}

p {

}

table {
	display: block;
	margin: auto;
	width: auto;
}

input[type="submit"]{
	display: block;
	margin: auto;
	padding: 0.2em 4em;
	width: auto;
	font-family: courier new;
	font-size: 1em;
	background-color: #FFFFFF;
	border-style: dotted;
	border-width: 0.1em;
	position: relative;
	top: 1em;
}

input[type="submit"]:hover {
	background-color: #EEEEEE;
}


input[type="text"], input[type="password"]{
	padding: 0.2em;
	font-family: courier new;
	font-size: 1em;
	border-style: none none dotted none;
	border-width: 0.1em;
}

form {
	margin: auto;
}

.mainbody{
	width: 40%;
	padding: 3em 0em;
	margin: auto;
	background-color: #FFFFFF;
	
}

.loginbox{
	margin: 0.5em auto;
	text-align: center;
	background-color: #FFFFFF;
}

.inputrow{
	margin: auto;
	padding: 0.5em 2em;
}